*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("imgs/compass.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  transition: all 1000ms ease 300ms;
}

/* The input field */
#user_inp {
  width: 582px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: rgb(218, 220, 224);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 30px;
  outline-style: none;
}

#user_inp:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

/* Heading text */
#adventure {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 75%;
  font-style: italic;
  font-size: 2rem;
  text-shadow: 2px 3px 2px black;
  color: white;
}

/* The narrator text */
#narrator {
  display: flex;
  position: absolute;
  background-color: rgba(37, 63, 114, 0.6);
  backdrop-filter: blur(18px);
  color: white;
  text-align: center;
  white-space: nowrap;
  height: 15rem;
  width: 50rem;
  top: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  opacity: 0.9;
  font-size: 1.8rem;
}

#camel {
  display: flex;
  position: absolute;
  bottom: 52%;
}

#camel-narrator {
  width: 10rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1500px) {
  #adventure {
    font-size: 1.5rem;
    text-align: center;
  }
  #camel-narrator {
    width: 9rem;
  }

  @media screen and (max-width: 850px) {
    #narrator {
      width: 35rem;
      height: 10rem;
      font-size: 1.2rem;
    }
    #adventure {
      font-size: 1.2rem;
      text-align: center;
    }
    #user_inp {
      width: 400px;
    }

    #camel-narrator {
      width: 8rem;
    }
  }

  @media screen and (max-width: 600px) {
    #narrator {
      width: 28rem;
      height: 10rem;
      font-size: 1rem;
    }
    #adventure {
      font-size: 1.2rem;
      text-align: center;
    }
    #user_inp {
      width: 350px;
    }
    #camel-narrator {
      width: 7rem;
    }
  }

  @media screen and (max-width: 500px) {
    #narrator {
      width: 24rem;
      height: 10rem;
      font-size: 0.8rem;
    }
    #adventure {
      font-size: 1.05rem;
      text-align: center;
    }
    #user_inp {
      width: 300px;
    }
    #camel-narrator {
      width: 6rem;
    }
  }

  @media screen and (max-width: 400px) {
    #narrator {
      width: 20rem;
      height: 8rem;
      font-size: 0.7rem;
    }
    #adventure {
      font-size: 0.9rem;
      text-align: center;
    }
    #user_inp {
      width: 250px;
    }
    #camel-narrator {
      width: 5rem;
    }
  }
}
